@import url("../node_modules/modern-normalize/");

@font-face {
  font-family: "soda_shakeregular";
  src:
    url("../media/fonts/soda-shake/soda_shake-webfont.woff2") format("woff2"),
    url("../media/fonts/soda-shake/soda_shake-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "soda_shakeregular", "Courier New", Courier, monospace;
  --first-ply-clr: rgb(86, 202, 255);
  --second-ply-clr: rgb(255, 77, 77);
}

.content {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.playing-div {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100px auto;
  justify-items: center;
  align-items: center;
  gap: 0 20px;

  margin-top: 10vh;
}

.ship-container {
  padding: 20px;
  background-color: #f3f3f3;
  width: 15vw;
  height: max(45vh, 100%);
  border-radius: 20px;
  box-shadow: 0 0 6px -3px;
}

p {
  font-size: 2rem;
}

.playing-div p.turn {
  font-size: 3rem;
  text-decoration: underline;
}

#left-playing-div p {
  grid-column: 2;
  grid-row: 1;
}

#left-playing-div .main-grid-div {
  grid-column: 2;
  grid-row: 2;
}

#left-playing-div .ship-container {
  grid-row: 2;
  grid-column: 1;
}

#right-playing-div .main-grid-div {
  grid-column: 1;
  grid-row: 2;
}

#right-playing-div .ship-container {
  grid-row: 2;
  grid-column: 2;
}

.main-grid-div {
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;

  position: relative;
  width: 25vw;
  height: 25vw;
  align-self: start;
}

#left-playing-div .main-grid-div::before {
  position: absolute;
  content: "For rotating ships click them.";
  transform: translate(0, -100%);
}

.cell {
  background-color: rgb(235, 235, 235);
}

#left-playing-div .cell.ship {
  background-color: var(--first-ply-clr);
}

#right-playing-div .cell.ship {
  background-color: var(--second-ply-clr);
}

.cell img {
  width: 100%;
}

.cell.ship img {
  filter: brightness(0) saturate(100%) invert(22%) sepia(45%) saturate(2438%)
    hue-rotate(339deg) brightness(72%) contrast(106%);
}

.error-div {
  position: fixed;
  display: inline-block;
  background-color: #ff7171;
  color: #000000;
  padding: 10px 20px;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 13px -4px;
}

.win-div {
  position: fixed;
  padding: 20px;
  width: 50vw;
  background-color: rgb(149, 255, 149);
  text-align: center;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 30px;
}

.win-p {
  font-size: 3rem;
}

.win-btn {
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
}

.ship-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.display-ship {
  display: flex;
  gap: 1px;
}

.display-ship.vertical {
  flex-direction: column;
}

.display-ship.on-grid {
  position: absolute;
}

#left-playing-div .display-ship div {
  background-color: var(--first-ply-clr);
}

#right-playing-div .display-ship div {
  background-color: var(--second-ply-clr);
}

.fnct-btn-div {
  grid-row: 2;
  grid-column: 1;
  align-self: start;
  display: flex;
  gap: 20px;
}

.fnct-btn {
  background-color: var(--first-ply-clr);
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 10px;
  border: none;
  border-bottom: 4px solid rgb(46, 112, 143);
}

.fnct-btn:active {
  background-color: rgb(46, 112, 143);
}

.play-btn {
  font-size: 3rem;
  position: fixed;
  bottom: 100px;
  border: none;
  background-color: #a4ffa4;
  border-radius: 20px;
  padding: 10px 50px;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 5px solid #77c577;
}

.play-btn:active {
  background-color: #77c577;
}
